.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("bg4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.registerTitle{
    font-size: 50px;
    margin-left: 400px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 400px;
}
.registerFormLable{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.registerLoginButton{
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.l3{
    text-decoration: none;
    color: white;
}